.fs-20{
    font-size: 20px;
}

.bg-myblue{
    background-color: rgb(246, 246, 250);
}
.w-200{
    width: 200px;
}
.mar-50{
    margin-top: 100px;
}
.bd-10{
    border-radius: 10px;
}
.mar-10{
    margin-top: 10px;
}
.w-160{
    width: 160px;
}
.w-220{
    width: 220px;
}
.w-230{
    width: 230px;
}
.select-button{
    border: 1px solid #6366f1;
    height: 50px;
margin-top: 60px;
margin-bottom: 30px;
align-items: center;
border-radius: 10px;    
}
.select-c{
    padding-top: 13px;
    padding-left: 35px;

}
.select-button:hover{
    background-color: #007bff;
    color: white;
    border-radius: 10px;
}
.bg-myblue:hover{
    background-color: rgb(230, 230, 243);
    color: #6366f1;
}
.h-blue:hover{
    color: #007bff;
}
/* mid container */
.mid-contain{
    margin-left: 120px;
}
.card{
    height: 380px;
    width: 300px;
    margin-left: 30px;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 10px rgb(214, 213, 213);
    position: relative;
}
.font-800{
    font-weight: bold;
}
.omkar-img{
    width: 300px;
    height: 175px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: absolute;
}

.button{
    background-color: rgb(109, 172, 16);
    height: 20px;
    width: 60px;
    margin-bottom: -20px;
}
.image{
    background-image: url(https://images.unsplash.com/photo-1527689368864-3a821dbccc34?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
width: 300px;
height: 175px;
background-size: contain;

}